.wrapper {
    margin-top: 8px;
    border-top: 1px solid #3d3d3d;
    padding-top: 8px;
}
.account-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    transition: background-color ease-in-out 200ms;
    border-radius: 4px;

    &:hover {
        cursor: pointer;
        background-color: #212121;
    }
}

.label {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 8px;
}
.avatar {
    width: 34px;
    height: 34px;
    border-radius: 50%;
    object-fit: cover;
}
.item_infor {
    flex: 1;
    margin-left: 10px;
}
.nickname {
    font-size: 1.5rem;
    line-height: 1.2;
    color: var(--white-text-color);
}
.check {
    font-size: 1.3rem;
    margin-left: 4px;
    color: var(--check-icon-color);
}
.name {
    font-size: 1.2rem;
    color: #d3d3d3d6;
}
.more-btn {
    font-size: 1.4rem;
    font-weight: 600;
    padding: 8px;
    color: var(--primary);
    cursor: pointer;
}
