@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
:root {
    --primary: #fe2c55;

    // DefaultLayout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
    --default-text-color: #fff;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    line-height: 1.5;
}

body {
    font-family: 'Roboto', sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings: 'wdth' 100;
    font-size: 1.6rem;
    text-rendering: optimizeLegibility;
    background-color: black;
    color: var(--default-text-color);
}

button,
input,
[tabindex] {
    border: none;
    outline: none;
}

a[href] {
    color: var(--default-text-color);
    text-decoration: none;
}

// custom tippy
body .tippy-box {
    font-size: 1.4rem;
    font-weight: 500;
    padding: 5px;
    border-radius: 8px;
    line-height: 2rem;
    background-color: grba(84, 84, 84, 0.92);
}
