.wrapper {
    --BGR-color-search: rgba(255, 255, 255, 0.12);
    --Boder-Radius-search: 92px;
    --search-height: 46px;
    --width-search-btn: 52px;

    width: 100%;
    height: var(--default-layout-header-height, 60);
    box-shadow: 0px 1px 1px rgba(171, 171, 171, 0.396);
    display: flex;
    justify-content: center;
}
.wrapper .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100%;
    padding: 0 var(--default-layout-horizontal-spacer);
    width: var(--default-layout-width);
}

// .Textgray {
//     color: #b7b7b7 !important;
// }

.actions {
    display: flex;
    align-items: center;
}

.more-btn {
    color: var(--default-text-color);
    background-color: transparent;
    padding: 8px;
    font-size: 2rem;
    margin-left: 16px;
    cursor: pointer;
}

.action-btn {
    // border: 1px solid red;
    width: 50px;
    height: 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.4rem;
    padding: 0 8px;
    color: var(--default-text-color);
    background-color: transparent;
    cursor: pointer;
    &.action-btn + .action-btn {
        margin-left: 5px;
    }
}

.user-avatar {
    width: 32px;
    height: 32px;
    margin-left: 12px;
    border-radius: 50%;
    object-fit: cover;
    cursor: pointer;
}
