.wrapper {
    --BGR-color-search: rgba(255, 255, 255, 0.12);
    --Boder-Radius-search: 92px;
    --search-height: 46px;
    --width-search-btn: 52px;

    width: 100%;
    height: var(--default-layout-header-height, 60);
    box-shadow: 0px 1px 1px rgba(171, 171, 171, 0.396);
    display: flex;
    justify-content: center;
}
.wrapper .inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 100%;
    padding: 0 var(--default-layout-horizontal-spacer);
    width: var(--default-layout-width);
}

.search {
    display: flex;
    background-color: var(--default-text-color);
}

.search,
.search-result {
    width: 361px;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    width: 361px;
    height: var(--search-height);
    padding-left: 16px;
    background-color: var(--BGR-color-search);
    border-radius: var(--Boder-Radius-search);
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        color: var(--default-text-color);
        background-color: transparent;
        font-size: 1.6rem;
        padding-right: 10px;
        caret-color: var(--primary);
        &::placeholder {
            color: #707979;
        }
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: var(--default-text-color);
    }

    &::after {
        content: '';
        width: 1px;
        height: 65%;
        right: var(--width-search-btn);
        position: absolute;
        background-color: #7079796b;
    }

    &:focus-within {
        border: 1.5px solid rgba(255, 255, 255, 0.2);
    }
}

.search-title {
    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 5px 12px;
}

.btn-loading-clear {
    margin-right: 16px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.clear,
.loading {
    background-color: transparent;
    color: #6b6b6b;
    position: absolute;
}
.search-btn {
    width: var(--width-search-btn);
    height: 100%;
    background-color: transparent;
    border-top-right-radius: var(--Boder-Radius-search);
    border-bottom-right-radius: var(--Boder-Radius-search);
    font-size: 1.6rem;
    color: #f6f6f689;

    &:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.043);
    }
    &:active {
        background-color: rgba(255, 255, 255, 0.094);
    }
}

.Textgray {
    color: #b7b7b7 !important;
}

.actions {
    display: flex;
    align-items: center;
}

.more-btn {
    color: var(--default-text-color);
    background-color: transparent;
    padding: 8px;
    font-size: 2rem;
    margin-left: 16px;
    cursor: pointer;
}
