.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 1px solid red;
}

.container {
    width: var(--default-layout-width);
    max-width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 var(--default-layout-horizontal-spacer);
    margin-top: var(--default-layout-header-height);
    // border: 1px solid red;
}

.content {
    flex: 1;
    // min-height: 1000px;
}
