.search {
    display: flex;
    background-color: var(--default-text-color);
}

.search,
.search-result {
    width: 361px;
}

.search {
    position: relative;
    display: flex;
    align-items: center;
    width: 361px;
    height: var(--search-height);
    padding-left: 16px;
    background-color: var(--BGR-color-search);
    border-radius: var(--Boder-Radius-search);
    border: 1.5px solid transparent;

    input {
        flex: 1;
        height: 100%;
        color: var(--default-text-color);
        background-color: transparent;
        font-size: 1.6rem;
        padding-right: 10px;
        caret-color: var(--primary);
        &::placeholder {
            color: #707979;
        }
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: var(--default-text-color);
    }

    &::after {
        content: '';
        width: 1px;
        height: 65%;
        right: var(--width-search-btn);
        position: absolute;
        background-color: #7079796b;
    }

    &:focus-within {
        border: 1.5px solid rgba(255, 255, 255, 0.2);
    }
}

.search-title {
    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    padding: 5px 12px;
}

.btn-loading-clear {
    margin-right: 16px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
.clear,
.loading {
    background-color: transparent;
    color: #6b6b6b;
    position: absolute;
}
.loading {
    animation: spinner 1s linear infinite;
}
@keyframes spinner {
    from {
        transform: rotate(0);
    }
    to {
        transform: rotate(360deg);
    }
}
.search-btn {
    width: var(--width-search-btn);
    height: 100%;
    background-color: transparent;
    border-top-right-radius: var(--Boder-Radius-search);
    border-bottom-right-radius: var(--Boder-Radius-search);
    font-size: 1.6rem;
    color: #f6f6f689;

    &:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.043);
    }
    &:active {
        background-color: rgba(255, 255, 255, 0.094);
    }
}
