.menu-item {
    display: flex;
    align-items: center;
    font-size: 1.8;
    font-weight: 700;
    padding: 8px 8px 8px 0px;
    transition: background-color ease-in-out 200ms;
    border-radius: 4px;
    color: #e9e9e9;

    &.active {
        color: var(--primary);
    }
    &:hover {
        background-color: #212121;
    }
}

.title {
    margin-left: 10px;
}
