.menu-list {
    width: 224px;

    .menu-item {
        margin-left: 0;
    }
}

.menu-popper {
    padding-bottom: 8px;
}
.menu-body {
    overflow-y: auto;
}

// menu item
.menu-item {
    width: 100%;
    justify-content: flex-start;
    border-radius: 0;
    font-weight: 500;
    padding: 11px 18px;
    line-height: 1.9rem;

    &.separate {
        border-top: 1px solid rgba(205, 210, 255, 0.236);
    }
    &:hover {
        background-color: rgba(177, 189, 255, 0.03);
    }
}

// Header
.header {
    flex-shrink: 0;
    margin-top: -8px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    position: relative;
    height: 50px;
}
.back-btn {
    background-color: transparent;
    color: var(--default-text-color);
    width: 50px;
    height: 100%;
    cursor: pointer;
}
.header-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
