.wrapper {
    width: 100%;
    max-height: 500px;
    padding-top: 8px;
    background-color: rgba(27, 27, 27, 0.81);
    border: 1px solid rgb(57, 57, 57);
    border-radius: 8px;
    overflow: auto;
}
