.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    // border: 1px solid red;
}

.container {
    width: var(--default-layout-width);
    display: flex;
    justify-content: center;
    padding: 0 var(--default-layout-horizontal-spacer);
    // border: 1px solid red;
}

.content {
    flex: 1;
    min-height: 1000px;
}
